<div class='container text-center'>
  <div class='row'>
    <h1 class="px-3 mx-auto">ようこそ<strong>musicaへ</strong>!</h1>
  </div>
  <h3>musicaは音楽に特化したSNSサイトです</h3>
  <h3>同じ趣味の人と繋がりたい、新しい音楽を開拓したい人</h3>
  <h3>是非musicaを活用して音楽の世界を広げてください！</h3>

  <div class="d-flex justify-content-center">
          <a class="navbar-brand" href="/"><%= image_tag "musica2.png", :size => "500x500" %></a>
  </div>

  <div class="mt-4">
    <i class="fa-solid fa-triangle-exclamation"></i>投稿に関する注意喚起<i class="fa-solid fa-triangle-exclamation"></i></br>
    ・アーティストやアルバムの画像など著作権に由来する画像の投稿することは禁止されています。</br>
    ・他の利用者の個人情報を、明確な同意や許可なく公開または投稿することは禁止されています。</br>
  </div>
</div>