<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>

       <div class="d-flex justify-content-center">
          <a class="navbar-brand" href="/"><%= image_tag "musica2.png", :size => "500x500" %></a>
        </div>

      <p></p>
      <p></p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "Guest Log in", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'Log in',new_user_session_path, class: "btn btn-sm btn-secondary btn-block mb-3 sign_in", style: "background-color: #F25287;" %>
        </div>
        <div class="row">
          <%= link_to 'Sign up',new_user_registration_path, class: "btn btn-sm btn-secondary btn-block  sign_up" , style: "background-color: #22A39F;" %>
        </div>
      </div>
    </div>
  </div>
</div>


