<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h1><i class="fa-solid fa-music"></i><strong>Musica</strong></h1>
      <p>In  <i class="fa-solid fa-music"></i><strong>Musica</strong>, </p>
      <p>あなたの音楽の世界を見せてください</p>
      <p>そして未知なる音楽の世界を開拓してください</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-sm btn-block mb-3 sign_in", method: :post %>
        </div>
        <div class="row">
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-sm btn-block mb-3 sign_in", style: "background-color: #CD6688;" %>
        </div>
        <div class="row">
          <%= link_to 'アカウントを作成',new_user_registration_path, class: "btn btn-sm btn-block sign_up" , style: "background-color: #A2BF39;" %>
        </div>
      </div>
    </div>
  </div>
</div>


