

<div class='col-md-8 offset-md-1'>
    <h1 class = "col-8">Favorite Artist</h1>
    <%= form_with model: @favorite, url: '/favorites', method: :post do |f| %>
  <%= render 'public/favorites/form' %>
<% end %>

  </div>
