<% if notification.subject.post %>
  <div>
    <%= link_to notification.subject.user.user_name, user_path(notification.subject.user) %>
    があなたの
    <%= link_to '投稿', post_path(notification.subject.post) %>
    にいいねしました
  </div>
<% else %>
  <div>
    <%= link_to notification.subject.user.user_name, user_path(notification.subject.user) %>
    があなたの
    <%= link_to 'Favorite Artist', favorite_path(notification.subject.favorite) %>
    にいいねしました
  </div>
<% end %>
