<%= link_to registransition_path(notification) do %>
  <div>
    <%= link_to notification.subject.user.user_name, user_path(notification.subject.user) %>
    からDMが届きました。
    <%#= link_to '', post_path(notification.subject.post) %>

    <%= " (#{time_ago_in_words(notification.created_at)}前)" %>
  </div>
<% end %>