<div class='col-md-8 offset-md-1'>
      <h2>Users</h2>
        <table class='table'>
          <thead>
            <tr>
              <th></th>
              <th>ユーザー名</th>
              <th>アカウントID</th>
            </tr>
          </thead>
          <tbody>
            <% users.each do |user| %>
              <tr>
                <td><%= image_tag user.get_profile_image, size: '50x50', class: "mb-3 mr-3 rounded-circle" %></td>
                <td><%= user.user_name %></td>
                <td><%= user.account_id %></td>
                <td><%= link_to 'Show', user %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
</div>