<!--サイドバー部分テンプ-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to new_post_path(current_user),class: 'nav-link' do %>
            <i class="fas fa-home"></i> 投稿
        <% end %>
      </li>
      <li>
        <%= link_to favorites_path,class: 'nav-link' do %>
          <i class="fa-solid fa-music"></i> Favorite Artist
            <% end %>
      </li>
      <li>
        <%= link_to liked_posts_user_path(@user),class: 'nav-link' do %>
          <i class="fa-regular fa-heart"></i> Likes
        <% end %>
      </li>
    </ul>
        <% end %>
  </div>
</nav>







