<!-- プロフィール欄 -->
<div class="col-md-8 offset-md-1" style="font-weight: bold; background:#F3EFE0;">
  <%= render 'public/users/profile', user: @user %>
  <div class="col-md-8 offset-md-1" style="font-weight: bold; background:#F3EFE0;">
    <%= render 'public/posts/index', posts: @posts, user: @user %>
  </div>
</div>
