<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3', style='font-weight: bold; background:#2E3840;'>
      <br>
      <%= render 'public/users/sidebar', user: current_user %>
    </div>
<div class='col-md-8 offset-md-1'>
          <h2 class = "col-3 text-center">Likes</h2>
<%= render partial: "public/posts/post", collection: @like_posts %>

</div>
</div>